*{
  padding: 0px;
  margin: 0px;
  border-radius: 1%;
}
header {
  background-color: transparent;
  min-height: 60px;
  min-width: 160px;
  color: white;


  :hover {
    background-color: transparent;
    text-decoration: none;
    color: #050505;
    border-block-start: #5ba4ec;
  }
  a:hover{
    background-color:#cfcbcb;
    color: black;


}


  .ativo {
    display: none;
  }
}

main {
  background-color: #fcfcfc;

}

body {

  float: left;
  width: 10%;
  padding: 10px 20px 29px;
  margin: 0;
  border: 0px solid #f00;
  background: rgb(90, 176, 241);
  text-decoration: none;
  color: #fff;
  /* cantos arredondados */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


}
p{
  text-align: justify;

}

ul{

  position: absolute;
  top: 120px;
  width: 100%;
  height: 130px;


}


img{
  width: 35px;
}
input[type="checkbox"]{
  display: none ;
}

nav{
  background-color: transparent;
  width: 150px;
  height: 100%;
  left: -350px;
  position: absolute;
  transition:all ,1s;

  float: left;

}
input[type="checkbox"]:checked ~ nav {
  transform: translate(350px);

}

aside{
  background-color: #f7f707;
  height: 500px;
  width: 150px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  float: right;
}
label {

  padding: 15px;
  position: absolute;
  z-index: 1;
  color: #0a0909;
  background-color: transparent;
  display: inline-block;
  cursor:pointer;

}

label::before {
  content: '\f0c9' ;   /* Código do ícone de hambúrguer do FontAwesome */

  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  color: #0a0909;

}
a{
  text-decoration: none;
  font-size: 18px;
 display: block;
 padding: 20px 20px;
 color: black;
}
footer{
  border-top: 1px solid #333;
  background-color: rgb(60, 168, 236);
  text-align: center;
  color: azure;
  bottom: 0;

  height: 9px;
  position: fixed;
  width: 100%;

  padding: 20px 20px;

  float: left;

}
