header {
  background-color: var(--primary);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;

  :hover {
    background-color: #6eb1f4;
    text-decoration: none;
    color: #ffffff;
    border-block-start: #5ba4ec;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .ativo {
    display: none;
  }
}

main {
  background-color: #fcfcfc;
  padding: var(--padding);
}

body {
  padding: 5px 10px;
  margin: 0;
  border: 0px solid #f00;
  background: rgb(90, 176, 241);
  text-decoration: none;
  color: #fff;
  /* cantos arredondados */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


}
